# Laravel backend
role-permission-app-backend/vendor/
role-permission-app-backend/.env

# React frontend
role-permission-frontend/node_modules/
role-permission-frontend/.env
role-permission-frontend/build/

# OS files
.DS_Store
*.log
